

.border_orange{
	border-bottom:1px orange solid;
}




#main_content{

	padding:2%;
}
/* Side nav bar styles*/
.sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
 /* -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;*/
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.sidenav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 60px 14px;
  border: 1px solid #e5e5e5;
}
/*
.sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}*/
.sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* side nav */
.sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.sidenav .active .icon-chevron-right,
.sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.sidenav.affix {
  top: 40px;
}
.sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

/* error fields */
.input-error{
	 border-color: #b94a48 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.hide{
  display :none;
}

.show{
	display :block;
}

/* ajax loader */

.ajaxloader{
	width: 30px;
	height: 32px;
	margin:auto;
	background-image: url("../img/ajax-loader.gif");
}


  
/*** chat style **/
.userlist{

  bottom:0px;
  z-index: 1000;
  min-width: 180px;
  height: 250px;
  right: 60px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

}

.chat_content{

  position:fixed;
  bottom:0px;
  z-index: 1000;
  min-width: 180px;
  height: 250px;
  right: 60px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

}

.userlist .users, .chat_content .users{
font-size:12px;
}
.userlist .users a, .chat_content .users a{
display:inline-block;
}
.timestamp {
  margin-left:50%;
  font-size:75%;
}
.userlist .divider, .chat_content .divider {
  *width: 100%;
  height: 1px;
  margin: 1px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
.userlist a, .chat_content a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}
.userlist  li > a:hover, .chat_content li > a:hover,
.userlist  li > a:focus, .chat_content li > a:focus,
.userlist:hover > a, .chat_content:hover > a {
  text-decoration: none;
  color: #ffffff;
  background-color: #0088cc;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.chatbox {
     
	float:left;
	margin-top:20px;
	margin-left:10px;
	margin-right:10px;
    border:1px solid #CCC;
	width:250px;
	background-color:#FFF;
	/*-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;*/
	box-shadow: 5px 5px 5px #888;
}

.chat_header{
	height:20px;
	display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: bold;
  line-height: 20px;
  color: #FFF;
  background-color: #0088cc;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
  white-space: nowrap;
  border-bottom: 1px solid #e5e5e5;
}
 .chatbox .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.chat_messages{

	height:100px;
	overflow-x:hidden;
	overflow-y:auto;
	padding:10px;

}

.chat_input{
	
	padding-left:10px;

}

.chat_input input{
	height:40px;
}
.chat_header_buttons{

	margin-left:30%;
}


form{

	clear:both;
}

#chat_area{
	
	position:fixed;
	bottom:0px;
	right:250px;

}
.publicbox{

	width:90%;
}
.publicbox .message{

	width:90%;
}
.publicbox  .chat_messages{
	height:320px;
}

#online_users{
	position:absolute;
	clear:both;
	width:43%;
}
/*** user status styles ***/
.online{

background: no-repeat url("../img/chat_sprites.png") 0 0;
height: 15px;
width: 15px;
margin: 0 6px;
display: inline-block;
}
/**nice header ***/
.nice_border{
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 14px;
	background-color: white;
	border: 1px solid #DDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.nice_header a{
  color: #FFF;
  text-decoration: none;
  outline: 0;
  background-color: #0088cc;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
  }

 /*** Game tile styles ***/
 #game_list{
 
	position:absolute;
 }
.tile {
	width: 70%;
	height: 120px;
	margin: 2px;
	float:left;
	background-color: #0072BC;
	display: inline-block;
	cursor: pointer;
}

.tile:hover {
	background-color: #0072BC;
	box-shadow: 1px 1px 5px 1px black;
}

.tile .front {
	font-family: verdana,sans-serif;
	font-size: 24px;
	font-weight: 700;
	font-style: normal;
	font-size-adjust: none;
	color: white;
	margin-top: 20px;
	Text-align: center;
}

.tile .note {
	font-style: italic;
	margin-top: 10px;
	font-size: 10px;
	color:#FFF;
}