<?xml version="1.0" encoding="UTF-8"?>
<quickserver>
	<name>RTPMT Server v 1.0</name>
	<port>3000</port>
	<bind-address>127.0.0.1</bind-address>
	<client-command-handler>
		rtpmt.server.ClientMessageHandler
	</client-command-handler>
	<client-data>rtpmt.server.ClientDataHandler</client-data>
	<!-- Initalization hook up  -->
	<init-server-hooks>
		<class-name>rtpmt.server.logging.SetupLoggingHook</class-name>
	</init-server-hooks>

	

	<!-- some extra config. added just to show -->
	<timeout>4</timeout>
	<timeout>180000</timeout>
	<console-logging-level>WARNING</console-logging-level>
	<console-logging-level>INFO</console-logging-level>
	<console-logging-formatter>
		org.quickserver.util.logging.SimpleConsoleFormatter
	</console-logging-formatter>

	<communication-logging>
		<enable>true</enable>
	</communication-logging>
	<timeout-msg>-ERR Timeout</timeout-msg>
	<max-auth-try>5</max-auth-try>
	<max-auth-try-msg>-ERR Max Auth Try Reached</max-auth-try-msg>
	<max-connection>-1</max-connection>
	<max-connection-msg>
		Server Busy\nMax Connection Reached
	</max-connection-msg>
	<object-pool>
		<max-active>-1</max-active>
		<max-idle>15</max-idle>
	</object-pool>
	<!-- some extra config. added just to show -->

	<qsadmin-server>
		<name>RTMPT Server Admin v 1.0</name>
		<port>3002</port>
		<bind-address>127.0.0.1</bind-address>
		<command-plugin>
			echoserver.QSAdminCommandPlugin
		</command-plugin>
	</qsadmin-server>

</quickserver> 