<div class="row">
	<div ng-hide="!rt" ng-show="!noData" class="col-md-12">
    <div class="widget">
      <div class="widget-head">
        <div class="pull-left">Location Tracking</div>                  
        <div class="pull-right">
          <button ng-click="refresh()" class="btn btn-success">Refresh</button> 

          <small ng-show="rt">
            <i class="icon-time"></i> <span ng-show="loaded">Refresh rate: {{refreshRate}} s | Last Updated {{ts | timeago}}</span>
          </small>
          <small class="text-mute" ng-show="!rt">
            No real-time updates
          </small>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <div class="padd">     

        <div ng-show="!noData" id="map-canvas"></div>
        </div>
      </div>
      <div class="widget-foot">
        <div class="pull-left">

          <img src="../img/temperature-pin.png" alt="Temperature Marker"> Temperature
          <img src="../img/humidity-pin.png" alt="Humidity Marker"> Humidity
          <img src="../img/vibration-pin.png" alt="Vibration Marker"> Vibration
          <img src="../img/shock-pin.png" alt="Shock Marker"> Shock
          
          <div class="pull-left">
            <br /><strong>Disclaimer: </strong>         
          </div>
        </div>
        <div class="pull-right">
          <img src="../img/waypoint-pin.png" alt="Waypoint Marker"> Waypoints <img src="../img/waypoint-end-pin.png" alt="Waypoint-End Marker">          
        </div>
        
        <div class="clearfix"></div>
                
      </div>
    </div> 
  </div>
</div>  
  <div class="well" ng-show="noData">

    <h3 class="text-danger"><i class="icon-warning-sign"></i> Warning !</h3>
    <div class="alert alert-danger">
      
      <i class="icon-info-sign"></i> {{errorMsg}}
    
    </div>
  
  </div>
  <div class="well" ng-show="!rt">

    <h3 class="text-info"><i class="icon-warning-sign"></i> No real time updates available</h3>
    <div class="alert alert-info">
      <i class="icon-info-sign"></i> No location data available for non-real time tracking
    </div>
    
  </div>


