<div class="sections" id="shockSection" ng-controller="shockController">
<div ng-show="!noData">
<div class="col-md-12 sections"> 

	<div class="widget">
    <div class="widget-head">      
      <div class="pull-left">Shock Graph (Time vs Max-G value)</div>
      <div class="pull-right">
        <small ng-show="rt">
          <i class="icon-time"></i> <span ng-show="loaded">Refresh rate: {{refreshRate}} s | Last Updated {{ts | timeago}}</span>
        </small>
        <small class="text-mute" ng-show="!rt">
          No real-time updates
        </small>
      </div>
      <div class="clearfix"></div>
    </div>      
    
		<div class="widget-content" id="shockGraphSection">	

      <!--<nvd3-cumulative-line-chart        
          data="sgData"
          id="sGraph"                
          height="500"          
          tooltips="true"
          interactive="true"       
          showLegend="true"
          showXAxis="true"
          showYAxis="true"
          xAxisLabel="Hz"
          yAxisLabel="G^2/Hz"
          margin="{left:150,top:200,bottom:100,right:50}"
          color="colorDefault()"
          legendcolor="colorDefault()">
            <svg></svg>
      </nvd3-cumulative-line-chart> -->

        <nvd3-multi-bar-chart
        data="discdata"
        id="showControlsExample"        
        height="500"
        showXAxis="true"
        showYAxis="true"        
        showControls="true"
        showLegend="true"
        xAxisTickFormat="xAxisTickFormatFunction()"
        reduceXTicks="false"        
        xaxisticksize="1"
        margin="{left:100,top:200,bottom:100,right:50}"
        xAxisLabel="Time"
        yAxisLabel="Max G-Value"
        staggerLabels="true"
        tooltips="true"
        interactive="true"
        stacked="true"        
        >
          <svg></svg>
    </nvd3-multi-bar-chart>
			
		</div>
	</div>

</div>

<div class="col-md-12">
  <div class="widget" id="shockTable">

    <div class="widget-head">
      <div class="pull-left"><i class="icon-table"></i> Shock Table 
        
        <span class="text-darkblue"><small>(Showing {{shockData.length}} results)</small></span> 
      </div>
      <div class="widget-icons pull-right">        
        
        <button ng-show="rt" ng-click="refresh()" class="btn btn-success"><i class="icon-refresh"></i> Refresh</button> 
        <button ng-show="!rt" class="btn btn-success disabled"><i class="icon-refresh"></i> Refresh</button>       

      </div>
      <div class="clearfix"></div>
    </div>

    <div class="widget-content">

      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Time</th>
            <th ng-show="rt">Location</th>
            <th>Shock (Max-G)</th>
            <th>Drop-Height (m)</th>
          </tr>
        </thead>
        <tbody>

          <tr ng-repeat="sdata in shockData | orderBy:'-timestamp' ">
            <td>{{sdata.timestamp | date: 'medium'}}</td>
            <td ng-show="rt">
              <a ng-href="http://maps.google.com/maps?q={{sdata.loc[1]}},{{sdata.loc[0]}}&ll={{sdata.loc[1]}},{{sdata.loc[0]}}&z=12" target="_blank">
                  <button class='btn btn-primary'>Show on map</button>
              </a>
             </td>
            <td>
            	<span class="label label-danger">X</span> <strong> {{sdata.value.x}}</strong> g<br/>
              <span class="label label-danger">Y</span> <strong> {{sdata.value.y}}</strong> g<br />
              <span class="label label-danger">Z</span> <strong> {{sdata.value.z}}</strong> g<br />
            </td>
            <td>
            	<span ng-show="!sdata.is_instantaneous">{{sdata.value.dropheight}} m</span>
              <span class="text-danger" ng-show="sdata.is_instantaneous">Instantaneous Shock</span>
            </td>
          </tr>

        </tbody>
      </table>     

      <div class="widget-foot">        

        <div class="clearfix"></div>

      </div>
    </div>

  </div> 
 </div>  
</div>

<div class="well" ng-show="noData">

  <h3 class="text-danger"><i class="icon-warning-sign"></i> Warning !</h3>
  <div class="alert alert-danger">
    <i class="icon-info-sign"></i> {{errorMsg}}
  </div>
  
</div>
</div>

  <!--/end shockSection-->





