<div class="col-md-12 sections" id="temperatureSection" ng-controller="temperatureController">

  <h3>Temperature</h3>
  <h3>Select <span class="text-info">Truck-Id</span> and <span class="text-info">Package-Id</span> to get specific details</h3>

  <div class="widget" id="temperatureTable">    

    <div class="widget-content">

      <!-- <nvd3-sparkline-chart
         data="spark"
         id="sparkid"
         width="550"
         height="150"
         margin="{left:30, top:30, bottom:30, right:50}"
         x="xFunction()"
         y="yFunction()">
           <svg></svg>
       </nvd3-sparkline-chart>    --> 

      <div class="widget-foot">        

        <div class="clearfix"></div>

      </div>
    </div>

  </div>    
</div>
  <!--/end temperatureSection-->





