<div class="humiditySection sections" ng-controller="humiditySpecificCtrl">

	<div class="row page-head">

    	<h3 class="pull-left">{{headMessage}}</h3>
    
  	</div>

	<div class="col-md-12">

		<div class="widget">      
      <!-- Widget content -->
	      <div class="widget-content">
	        <div class="padd">

	          <!-- Curve chart (Blue color). jQuery Flot plugin used. -->
	          <div style="height:600px; width:800px;">
	            <div id="hGraph" class="chart" humiditychart="humiditychart" ng-model='data' style="width:800px;height:400px"></div>
	            <hr />
	            <!-- Hover location -->
	          </div>
	        </div>
	        <!-- Widget ends -->

	      </div>

	    </div> 

		
	</div>


<div class="col-md-12">
	<div class="widget" id="humidityTable">

		<div class="widget-content">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>Time</th>
						<th>Location</th>
						<th>Humidity</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="hdata in humidityData">
						<td>{{hdata.timestamp | date: 'medium'}}</td>
						<td>{{hdata.location.latitude}}, {{hdata.location.longitude}}</td>
						<td>{{hdata.humidity.value}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</div>
</div>
	
</div>