<div ng-controller="mapController">
<div class="row">
	<div class="col-md-12">
              <div class="widget">
                <div class="widget-head">
                  <div class="pull-left">Google Maps</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>
                <div class="widget-content">
                  <div class="gmap">
                  <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;t=h&amp;ll=43.081921,-77.68277&amp;spn=0.003761,0.006866&amp;z=17&amp;output=embed"></iframe>
                  </div>
                  <div class="widget-foot">
                    <!-- Footer goes here -->
                  </div>
                </div>
              </div> 
            </div>
            </div>
</div>
