<div id="dashboard" ng-controller="dashBoardGeneralCtrl">  
{{msg}}
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-head">
        <div>Recent Activity</div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <div class="padd text-center">
        
        </div>
      </div>
    </div>
  </div>

<div class="col-md-5 col-md-offset-1">
  <div class="widget">
    <!-- Widget title -->
    <div class="widget-head">
      <div class="pull-left">Recent Activity</div>
      <div class="widget-icons pull-right">
        <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
        <a href="#" class="wclose"><i class="icon-remove"></i></a>
      </div>  
      <div class="clearfix"></div>
    </div>
    <div class="widget-content">
      <!-- Widget content -->
      <!-- activity starts -->
      <ul class="activity">

        <li>
          <!-- Icon with avtivity  -->
          </i> <strong>New Package Added</strong> - Truck ID: 2 | PackageID: 44
        </li>

        <li>
           <strong>Truck Activity</strong> - at location 
        </li>

        <li>
          <strong>New Package Added</strong>  - Truck ID: 50 | PackageID: 21
        </li>

        <li>
           <strong>New Package Added</strong>  - Truck ID: 5 | PackageID: 123
        </li>
           
        <li>
          <strong>Package Update:</strong> PacakgeID: 12 in Truck ID: 50 has been checked out <strong>View Log</strong>.
        </li>                   

        <li>
          <strong>Admin</strong> added the article <strong>Why not now?</strong>.
        </li> 

      </ul>

      <div class="widget-foot">
        <button class="btn pull-right btn-default">Clear All</button>
        <div class="clearfix"></div>
      </div>

    </div>
  </div>
</div>

<div class="col-md-5">
  <div class="widget">
    <!-- Widget title -->
    <div class="widget-head">
      <div class="pull-left">Notifications Feed <i class="icon-warning-sign"></i></div>
      <div class="widget-icons pull-right">
        <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
        <a href="#" class="wclose"><i class="icon-remove"></i></a>
      </div>  
      <div class="clearfix"></div>
    </div>
    <div class="widget-content">
      <!-- Widget content -->
      <!-- activity starts -->
      <ul class="activity">

        <li><strong>Package ID: 1 </strong>in <strong>Truck ID: 16</strong> Dropped from height 12m</li>
        <li><strong>Package ID: 13</strong> in <strong>Truck ID: 22</strong> temperature above threshold</li>
        <li><strong>Package ID: 3 </strong>in <strong>Truck ID: 456</strong> temperature above threshold</li>
        <li><strong>Package ID: 53</strong> in <strong>Truck ID: 76</strong> vibration at 0.8G</li>
        <li><strong>Package ID: 53</strong> in <strong>Truck ID: 11</strong> Shock at 0.8G</li>
        

      </ul>

      <div class="widget-foot">
        <button class="btn pull-right btn-default">Clear All</button>
        <div class="clearfix"></div>
      </div>

    </div>
  </div>
</div>


</div>




