<div class="sections" id="vibrationSection" ng-controller="vibrationController">

<div class="col-md-12 sections">

  <div class="widget" ng-show="isVib">
    <div class="widget-head">Vibration Graph - Time vs G-Value</div>
    <div class="widget-content">

      <nvd3-line-with-focus-chart
        data="exampleData"
        id="exampleId"      
        height="400"
        height2="50"
        showXAxis="true"
        showYAxis="true"
        tooltips="true"
        interactive="true"       
        showLegend="true"            
        color="colorDefault()"
        legendcolor="colorDefault()"      
        margin="{left:100,top:100,bottom:100,right:50}"
        xAxisTickFormat="xAxisTickFormatFunction()"
        x2AxisTickFormat="xAxisTickFormatFunction2()"
        yAxisLabel="G-Value"
        xAxisLabel="Time"
        noData="Plotting Graph"          
        >
            <svg></svg>
        </nvd3-line-with-focus-chart>
      
    </div>
  </div>

  <div class="widget" ng-show="isPsd">
    <div class="widget-head">Cumalative PSD Graph</div>
    <div class="widget-content" id="psdholder">

      <nvd3-line-with-focus-chart        
          data="psdData"
          id="psdGraph"                
          height="400"
          height2="50"                  
          tooltips="true"
          interactive="true"       
          showLegend="true"
          showXAxis="true"
          showYAxis="true"
          xAxisLabel="Hz"
          yAxisLabel="G^2/Hz"
          margin="{left:100,top:100,bottom:100,right:50}"
          color="psdColorsFunc()"
          legendcolor="psdColorsFunc()"
          noData="Plotting Graph"                    
          >
            <svg></svg>
      </nvd3-line-with-focus-chart> 
      
    </div>
  </div>  	

</div>

<div class="col-md-12">
  <div class="widget" id="vibrationTable">

    <div class="widget-head">
      <div class="pull-left">Vibration Table
        <a href="#" class="wminimize">
          <i class="icon-chevron-up"></i>
        </a>
      </div>
      <div class="widget-icons pull-right">

        <button ng-click="downloadCSV()" class="btn btn-info">
          <i class="icon-bar-chart"></i>Download CSV</button>

      </div>
      <div class="clearfix"></div>
    </div>

    <div class="widget-content">

      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Time</th>
            <th>Location</th>
            <th>Vibration</th>
            <th>Analysis</th>
          </tr>
        </thead>
        <tbody>

          <tr ng-repeat="vdata in vibrationData">
            <td>{{vdata.timestamp | date: 'medium'}}</td>
            <td>{{vdata.loc}}</td>
            <td>
            	<span class="label label-danger">X</span> <strong>{{vdata.value.x}}</strong><br/>
            	<span class="label label-danger">Y</span> <strong>{{vdata.value.y}}</strong><br />
            	<span class="label label-danger">Z</span> <strong>{{vdata.value.z}}</strong><br />
            </td>
            <td>
            	<button ng-click="vibrationGraph($index,vdata._id)" class="btn btn-info btn-sm">View Graph</button>            	            
              <button ng-click="psdGraph($index,vdata._id)" class="btn btn-primary btn-sm">PSD</button>

            </td>
          </tr>

        </tbody>
      </table>     

      <div class="widget-foot">           

        <div class="clearfix"></div>

      </div>
    </div>

  </div> 
 </div>  

</div>

  <!--/end temperatureSection-->





